<div class="container ml-5">
    <div class="row">
        <div class="col">
            <h1>*ngIf</h1>
            <hr>

            <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{frase.autor}}</h5>
                    <p class="card-text">{{frase.frase}}</p>
                </div>
            </div>

            <button type="button" (click)="mostrar=mostrarYOcultar()" class="btn btn-outline-primary">
              Mostrar/Ocultar
            </button>

        </div>

        <div class="col">
            <h1>
                *ngFor
            </h1>
            <hr>
            <ul class="list-group" *ngFor="let item of heroes; let i=index">
                <li class="list-group-item">{{i}}.-{{item}}</li>
            </ul>

        </div>
    </div>
</div>